.card {
  background-color: #000;
  color: #ffe600;
  border-radius: 18px;
  font-size: 46px;
  flex: 0 0 31%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card a {
  color: #ffe600;
}
